.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.274);

}
.wrapperLink{
    display: flex;
    gap: 70px;
    padding-left: 50px;
}
.link{
    text-decoration: none;
    font-size: 30px;
    
    -webkit-text-stroke: 1.5px;
    -webkit-text-stroke-color: rgb(72, 177, 72);
}